*{
    margin: 0px;
    padding :0px
}

body{
    background-color:rgb(148, 226, 250);
    color: rgb(0, 0, 0);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.main{
    background-color:rgba(255, 255, 255, 0.57);
    height:fit-content;
    width: 25rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:12%;
    border-radius: 10px;
}

input{
    background-color: rgba(243, 243, 243, 0.993);
    border: transparent;
    border: black solid 1px;
}

.headpart, .secpart, .rdpart, .lastpart{
    border: blue solid 3px;
}

.pers > input{
    margin-right: 35px;
}
.perinfo > input{
    margin-right: 35px;
}
.pers{
    display: flex;
    justify-content: space-between;
}
.infos{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#stpint{
    height: 15px;
}

.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

#button{
    width: 90px;
}

.methods{
    display: flex;
    align-items: center;
    justify-content: center;
}

.methods > input{
    margin-left: 20px;
}

.methods > label{
    margin: 10px;
}

.secpbutton{
    display: flex;
    justify-content: center;
}

#secpbutton{
    width: 70px;
}

.fieldset{
    height:90px;
    margin: 10px;
    border: rgba(0, 0, 0, 0.63) solid 1.4px;
}

.fieldset > legend{
    margin-left: 25px;
    font-weight: bold;
}

.title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.enter{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.perinfo{
    display: flex;
    justify-content: space-between;

}
.lastpart{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.last{
    font-size: large;
    font-weight: bold;
}
.search{
    min-width: fit-content;
    height: 4rem;
    width: 90%;
}

.lastpart > button{
    width: 70px;
}

.inside, .enter{
    margin: 10px;
}